body {
  background-color: white;
  font-family: 'Source sans pro', 'sans-sefir';
}

h2 {
  text-align: center;
  border-bottom: solid black 2px;
  font-weight: 700;

}

p {
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.semere {
  color: #000;
  display: block;
  padding-left: 85%;
}

.semere:hover {
  color: #000;
}

.placeholderimg {
  width: 100%;
  height: 500px;
}

.placeholdervid {
}

iframe {
  max-height: 70%;
  max-width: 100%;
  padding-top: 10%;
  padding-right: 8%;
}

.col {
  text-align: center;
}

.row {
  margin: 0;
}

.content {
  background-color: #0b92c5;
  border: none;
  margin: 80px 40px;
  padding: 3%;
}

.joinbutton {
  text-decoration: none;
  color: white;
  background-color: red;
  border: none;
  padding: 10px 55px ;
  margin-bottom: 30px;
}

#joinbutton {
  color: white;
}

.content:after {
    content: "";
    position: absolute;
    bottom: -30px;
    right: -0px;
    border-top: 30px solid #0b92c5;
    border-left: 36px solid transparent;
}

.socialmediaicon {
  width: 10%;
}

footer {
  color: black;
  border-top: black solid 2px;
  margin: 50px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 20px;
}

#klikherfooter {
  color: #000;
  text-decoration: underline;
}

#klikherfooter:hover {
  color: #000;
  text-decoration: underline;
}
